$use-icons = download,
            twitter,
            github,
            wrench,
            money,
            users,
            envelope,
            angle-double-right,
            stack-2x,
            stack-1x,
            inverse,
            circle,
            leaf,
            database,
            file-code-o,
            terminal,
            book,
            map-signs,
            microchip

for icon in $use-icons
    .{$fa-css-prefix}-{icon}
        fa-icon(icon)