$use-icons = download,
            twitter,
            github,
            wrench,
            money,
            users,
            envelope,
            angle-double-right,
            stack-2x,
            stack-1x,
            inverse,
            circle,
            leaf,
            cogs,
            briefcase,
            database,
            file-code-o,
            code-fork,
            book

for icon in $use-icons
    .{$fa-css-prefix}-{icon}
        fa-icon(icon)