.box-shadow
    border .1em solid rgba(107, 109, 116, 0.5)
    margin 1em 0
    border-radius .8em
    legend
        font-weight 700
        color #759e1a

#contact-project
    label
        color #555
        font-weight 700
        width 7em
    .group-box
        width 100%
        .input-box
            width 100%
            textarea
                width 100%

.input-box
    width: 24em

.radio-group
	label
		width auto !important
		font-weight 100 !important
