.box-shadow
    border .1em solid rgba(107, 109, 116, 0.5)
    margin 1em 0
    padding .5em
    border-radius .8em
    legend
        padding
        font-weight 700
        color #759e1a

#contact-project
    label
        color #555
        font-weight 700
        width 7em
    .group-box
        max-width 100%
        min-width 100%
        min-height 10em
        max-height 10em

.inline-box
    width: 24em

.radio-group
	label
		width auto !important
		font-weight 100 !important
