@media (max-width:1024px)
    #msg
        top 110px
    #youso
        li
            float none
            width 95%

    body
        padding-top 119px

    header
        nav
        figcaption
            margin 0
            display block
            width 100%
            text-align center
        figcaption
            a
                margin auto
        nav
        margin-bottom .2em

    footer
        padding 1.5em 0

    figcaption.about-scoop
        width 35%

    article.about-scoop
        width 65%

    #scoop-history
        figure
            width 21%

    #scoop-history
        div
            width 75%

@media (max-width: 900px)
    #msg
        top 80px
    #nav-docs
        margin-left -15em

    #menu-list
        display block

    #content-docs
        margin-left 1.5em

    figcaption.about-scoop
        display none

    article.about-scoop
        width 100%

    .col-3
        width 45%;
        margin 0 1.5%

@media (max-width: 580px)
    pre.prettyprint
        width 90%

    #mirdware-social
        position static
        padding 0

    #service
        img
            display none
        div
            width 100%

    body
        padding-top 80px

    header
        margin 0
        width 100%
        figcaption
            display inline-block
            width auto
        nav
            text-align left
            display none
            li
                display block
                width 100%
                a
                    padding-bottom 10px
                    transition all .5s ease-in
                    -moz-transition all .5s ease-in
                    -webkit-transition all .5s ease-in
                    -o-transition width all .5s ease-in
                    &:hover
                        background-color #777
                        color #FFB515

    #nav-icon
        display block

    #contact-project
        label
            text-align left
            display block
        label.icon
            display inline
        .radio
        .checkbox
            padding 0 1em
        .inline-box
            width 100%
    .control-pick
        padding .8em 0

    .col-3
        width 100%
        margin 0

    footer
        background-image none
        width 100%

    .head-main
        a
            display none
