@media (max-width:1024px)
    #youso
        li
            float none
            width 95%

    footer
        padding 1.5em 0

    figcaption.about-scoop
        width 35%

    article.about-scoop
        width 65%

    #scoop-history
        figure
            width 21%

    #scoop-history
        div
            width 75%

@media (max-width: 900px)
    #nav-docs
        margin-left -260px

    #menu-list
        display block

    #content-docs
        margin-left 1.5em

    figcaption.about-scoop
        display none

    article.about-scoop
        width 100%

    .col-3
        width 45%;
        margin 0 1.5%
    
    .about
        figcaption
            display none
        article
            width 100%

@media (max-width: 580px)
    #mirdware-social
        position static
        padding 0

    header
        margin 0
        width 100%
        figcaption
            display inline-block
            width auto

    #contact-project
        label
            text-align left
            display block
        label.icon
            display inline
        .radio
        .checkbox
            padding 0 1em
        .inline-box
            width 100%
    .control-pick
        padding .8em 0

    .col-3
        width 100%
        margin 0

    footer
        background-image none
        width 100%

    .head-main
        a
            display none
