services:
  docs:
    container_name: docs
    build:
      dockerfile: Dockerfile
    volumes:
      - ../.:/app
      - vendor:/app/vendor
      - node_modules:/app/node_modules
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      PHP_DISPLAY_ERRORS: 1
      XDEBUG_MODE: develop,coverage,debug,profile
      #XDEBUG_SESSION_START=scoop
      XDEBUG_IDE_KEY: scoop
      XDEBUG_CLIENT_HOST: host.docker.internal
volumes:
  vendor:
  node_modules: